<!DOCTYPE html>

<html ng-app='clementineApp'>

	<head>
		<title>Voting App Powered by Clementine.js</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
		<p>Welcome, <span id="display-name"></span> to Votastic 3000!</p>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
	</header>

	<body>
		<div class="container" ng-controller='surveyController'>
		    <div class="wrapper">
    		    <div ng-repeat="poll in allSurveys">Survey Name: {{poll.surveyName}}
	   			    <ul>
 					    <li ng-repeat="option in poll.surveyOptions">{{option.option}}
						    <ul>
		   					    <li>{{option.votes}}</li>
	 					    </ul>
					    </li>
				    </ul>
				    <button type='button' class="btn btn-default" ng-click='deleteSurvey(poll.surveyName)'>Vote</button>
			    </div>
			</div>
		</div>
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
		<script type="text/javascript" src="controllers/clickController.client.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
	</body>
</html>